<header>
    <h1>{{ simbolo() }}</h1>
    <app-button-favorito [symbol]="simbolo()"></app-button-favorito>
</header>
@if (esFavorito()) {
    <p>
        Cantidad: <strong>{{ obtenerCantidadFavorito() }}</strong>
        <app-button-editar [symbol]="simbolo()"></app-button-editar>
    </p>
}

@if (!precioUSD()) {
    <button (click)="buscarPrecio()">Ver precio</button>
} @else {
    <p>Precio actual: <strong>{{ precioString() }}</strong></p>

    @if (esFavorito()) {
        <p>Valor total: <strong>{{ valorTotalString() }}</strong></p>
    }
    <button (click)="buscarPrecio()">Actualizar</button>
}
