# Ignore everything inside /backend/public
/backend/public/*
/backend/node_modules
!.gitkeep

# Ignore environment files
/backend/.env
/backend/.env.*
!/backend/.env.example

# Ignore all .idea directories
.idea/

# Ignore all .DS_Store files
.DS_Store
