sup {
    &.USD {
        background-color: darkgreen;
    }

    &.EUR {
        background-color: darkblue;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0;
}
