sup {
    &.USD {
        background-color: darkgreen;
    }

    &.EUR {
        background-color: darkblue;
    }
}

.cantidad-favorito {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: #ff8c00;
}

header {
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
}
