<aside (click)="verDetalleActivo()">
    <header>
        <h3>{{ datosActivo.name }}</h3>
        <app-button-favorito [symbol]="datosActivo.symbol"></app-button-favorito>
    </header>
    <small>
        {{ datosActivo.symbol }}
        <sup class="{{monedaFiat()}}">{{ monedaFiat() }}</sup>
        @if (mostrarCantidad && esFavorito()) {
            <p>
                Cantidad: <strong>{{ obtenerCantidadFavorito() }}</strong>
                <app-button-editar [symbol]="datosActivo.symbol"></app-button-editar>
            </p>
        }
    </small>
</aside>
