sup {
    &.USD {
        background-color: #db9f0e;
    }

    &.EUR {
        background-color: var(--color-link);
    }
}

p {

}

header {
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
}
