<aside>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['']">Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['']">Favoritos</a>
                <ul>
                    <li>
                        <a [routerLink]="['']">Favoritos</a>
                    </li>
                    <li>
                        <a [routerLink]="['']">Favoritos</a>
                    </li>
                    <li>
                        <a [routerLink]="['']">Favoritos</a>
                    </li>
                    <li>
                        <a [routerLink]="['']">Favoritos</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>